.navbar{
    background-color: #b8bdc9;
    box-shadow:1px 7px 15px #999;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    position: relative;
       

        .logo{
            font-size: 3rem;
            cursor: pointer;

            span{
                color: purple;
            }
        }

        .nav-list{
            display: flex;
            gap: 2rem;
            font-size: 2rem;
            
            a{
                color: #333;
                cursor: pointer;
            }

        }

        //hamburger menu

        .burger{
            display: none;
            .bar{
                height: 3px;
                width: 20px;
                margin: 4px 0;
                background-color: black;
            }
        }
}

//MEDIA QUERY

   .open{
        flex-direction: column;
        gap: 2rem;
        height: 50vh;
        justify-content: center;

        .nav-list{
            flex-direction: column;
        }
   }
   .navbar {
    /* desktop styles */
    /* ... */
  
    /* mobile styles */
    @media only screen and (max-width: 768px) {
      .nav-list {
        display: none;
      }
  
      .burger {
        display: flex;
        align-items: center;
        cursor: pointer;
  
        .bar {
          height: 3px;
          width: 20px;
          margin: 4px 0;
          background-color: black;
        }
      }
  
      &.open {
        .nav-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 2rem;
          margin-top: 2rem;
        }
      }
    }
  }
  
