.active {
    background-color: #ccc;
  }
.sidebar{
    flex:1;
    border-right: 0.5px solid rgb(230,227,227);
    min-height: calc(100vh - 15vh);
    

    .admin-detail{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem 0;
        
        align-items: center;
        img{
            
            width: 80px;
        height: 80px;
     border-radius: 50%;
        overflow: hidden;
        margin-bottom: 10px;
        }

        .details{
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;

        }
      
    }

    .admin-navs{
        ul{
            display: flex;
            flex-direction: column;

            li{
                display: block;
                text-align: center;
                width: 100%;
                font-size: 2rem;
                padding: 1.5rem 0;
                cursor: pointer;

                &:hover{
                    background-color: gray;
                }
            }

           
        }
    }


}