.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
  }
  
  .user-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .details {
    text-align: center;
  }
  
  .user-name {
    display: block;
    margin-bottom: 5px;
  }
  
  .user-email {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
  }
  
  .user-navs {
    flex: 1;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  
  li {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    height: 30px;

  }
  
  li:hover {
    height: 30px;
    color: #2196f3;
    background-color: #666;
  }
  